.btn-blue {
  border: 1px solid $white;
  border-radius: 4px;
  padding: 14px 30px;
  background-color: $blue;
  color: $white;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  min-width: 183px;
  transition-property: background-color;
  transition-duration: $transition-duration;
  &:hover {
    background-color: #43abf0;
  }
}

.btn-white {
  border: 1px solid #6f6d7b;
  border-radius: 4px;
  padding: 14px 30px;
  background-color: $white;
  color: #2a2b30;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  min-width: 183px;
  transition-property: color, border;
  transition-duration: $transition-duration;
  &:hover {
    color: $blue;
    border: 1px solid $blue;
  }
}
