section.cap
  .cap__cont.cont
    .cap__area
      h1.cap__caption.caption
        span Lorem ipsum
        |
        | dolor sit amet&nbsp;consectetur
        |
        span adipiscing
      .cap__box
        .cap__text At vero eos et accusamus et iusto odio dignissimos ducimus!
        .cap__list
          .cap__item Totam rem aperiam eaque ipsa
          .cap__item Sit voluptatem accusantium doloremque laudantium
          .cap__item Sed ut perspiciatis, unde omnis iste natus error
      .cap__btns
        button.cap__btn.btn-blue заказать
        button.cap__btn.btn-white подробнее
